.skeleton_custom {
  padding: 0 10px;
  height: 300px;
}
.list_skeleton {
  width: 100%;
  height: 130px;
  margin-bottom: 15px;
}

.text_center {
  margin: 0 auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card_custom {
  padding: 10px;
  border: 5px;
  img {
    float: left;
    width:  100%;
    height: 210px;
    object-fit: cover;
    animation: fadeIn 3s;
  }
  .body_custom {
    text-align: left;
    padding: 10px;
    background: #cdcaca;
    border: 1px solid #f1f1f1;
    .card-title {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .card-text {
      color: #121212;
      float: right;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
